.navigation-body-wrapper {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 74px;
  padding-top: 10px;
  z-index: 5;
  width: 32%;
  max-width: 250px;
}

.nav-wrapper-mobile-close,
.nav-wrapper-mobile-open {
  display: none;
}

.navigation-wrapper {
  width: 100%;
  font-weight: bold;
}

.navigation-menu {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 35px;
}

.navigation-menu:hover {
  cursor: pointer;
  color: #a6a6a6;
}

.navigation-menu-inactive {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 35px;
}

.navigation-items-inactive {
  display: none;
}

.navigation-items li {
  height: 35px;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  padding: 10px 0 10px 10px;
  color: #404040;
  font-weight: normal;
  text-align: left;
  margin-left: 60px;
  border-left: solid 3px white;
}
.navigation-items li:hover {
  cursor: pointer;
  color: #a6a6a6;
}

.wrapper {
  margin: 20px;
}

#hidden {
  display: none;
}
#shown {
  display: flex;
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 768px) {
  .navigation-body-wrapper {
    display: none;
  }

  .nav-wrapper-mobile-open {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    padding-top: 10px;
    z-index: 5;
    width: 15rem;
    max-width: 250px;
    height: 100%;
    transition: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s;
  }

  .nav-wrapper-mobile-close {
    display: block;
    height: 100%;
    width: 20%;
    margin-top: 0;
    position: absolute;
    background-color: #e11931;
    transition: 0.5s;
  }

  .navigation-menu {
    padding: 10px;
  }

  .burger-close {
    height: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger-open {
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .navbar-mobile-close {
    margin-top: 5px;
    width: 25px;
    height: 3px;
    background-color: white;
  }

  .navbar-mobile-open {
    margin-top: 5px;
    width: 25px;
    height: 3px;
    background-color: #e11931;
  }
}

.navigation-items a {
  text-decoration: none;
  color: black;
}
