.body-wrapper {
  height: 100%;
  display: flex;
}

.navigation-wrapper {
  width: 250px;
  font-family: century gothic;
  font-weight: bold;
}

.navigation-menu {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 35px;
}
.navigation-menu:hover {
  cursor: pointer;
  color: #a6a6a6;
}

.navigation-menu-inactive {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 35px;
}

.navigation-items-inactive {
  display: none;
}

.navigation-items li {
  height: 35px;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  padding: 10px 0 10px 10px;
  color: #404040;
  font-weight: normal;
  text-align: left;
  margin-left: 60px;
  border-left: solid 3px white;
}
.navigation-items li:hover {
  cursor: pointer;
  color: #a6a6a6;
}

.wrapper {
  margin: 20px;
}

#hidden {
  display: none;
}
#shown {
  display: flex;
}
