.header-container {
  display: flex;
  justify-items: center;
  background: #e11931;
  width: 30%;
  max-width: 285px;
  border-radius: 0 45px 45px 0;
  padding: 15px 35px;
  position: absolute;
  z-index: 10;
}

.header-text {
  color: white;
  text-decoration: none;
  justify-self: center;
}

@media only screen and (max-width: 768px) {
  .header-container {
    width: 20%;
    padding: 10px;
    top: -3px;
  }

  .header-container img {
    width: 30px;
    height: auto;
  }

  .header-text {
    display: none;
  }
}
