.header-container {
  display: flex;
  justify-items: center;
  background: #e11931;
  width: 285px;
  border-radius: 0 45px 45px 0;
  padding: 15px 35px;
}

.header-text {
  color: white;
  text-decoration: none;
  justify-self: center;
}
