.comp-container {
  padding: 20px;
  width: 100%;
  overflow-y: auto;
  background-color: #f7f7f7;
}

.comp-title {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 15px;
}

.comp-desc {
  text-align: justify;
  width: 75%;
  font-size: 20px;
}

.comp-display {
  margin: 30px 0 40px;
}

.comp-text {
  font-weight: 500;
  font-size: 24px;
  margin: 15px 0;
}

.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: 75%;
  border: 1px solid #9c9c9c;
}

.comp-example {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 350px;
  background-color: #dddddd;
}

.comp-variation {
  display: flex;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #9c9c9c;
  z-index: 10;
  justify-content: space-between;
}

.comp-code-show {
  position: absolute;
  padding: 100px 6px;
  right: 0;
  max-width: 60%;
  height: 100%;
  background-color: black;
  color: #ff79c6;
  font-size: 12px;
}

.comp-code-hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .comp-container {
    padding: 30px 5px 0 30px;
  }

  .comp-title {
    font-size: 28px;
  }

  .comp-desc {
    width: 100%;
    font-size: 13px;
  }

  .comp-display {
    flex-direction: column;
    margin: 25px 0;
  }

  .comp-example {
    width: 150px;
    height: 150px;
  }

  .comp-variation {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  .comp-variation-btn {
    width: 80px;
    font-size: 13px;
  }

  .comp-code {
    width: 100%;
  }
}
