.comp-container {
  height: 100%;
  padding: 30px 60px;
  background-color: #f7f7f7;
}

.comp-title {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 15px;
}

.comp-desc {
  text-align: justify;
  width: 75%;
  font-size: 16px;
}

.comp-display {
  margin: 30px 0 40px;
}

.comp-display p {
  font-weight: 500;
  font-size: 24px;
  margin: 15px 0;
}

.preview {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.comp-example {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 0;
  width: 250px;
  height: 250px;
  background-color: #dddddd;
}

.comp-variation {
  display: flex;
  flex-direction: column;
}

.comp-variation p {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}

.comp-variation-btn {
  margin: 20px 20px 10px 0;
  background-color: transparent;
  width: 120px;
  border-radius: 21px;
  font-size: 16px;
  font-weight: inherit;
  color: #e11931;
  border: 1px solid #e11931;
  cursor: pointer;
}

.comp-variation-btn-active {
  margin: 20px 20px 10px 0;
  background-color: #e11931;
  width: 120px;
  border-radius: 21px;
  font-size: 16px;
  font-weight: inherit;
  color: white;
  border: 1px solid #e11931;
  cursor: pointer;
}

.comp-code {
  width: 80%;
  height: 150px;
  background-color: black;
  color: #ff79c6;
  font: 12px;
}

@media only screen and (max-width: 768px) {
  .comp-container {
    padding: 30px 5px 0 30px;
  }

  .comp-title {
    font-size: 28px;
  }

  .comp-desc {
    width: 100%;
    font-size: 13px;
  }

  .comp-display {
    flex-direction: column;
    margin: 25px 0;
  }

  .comp-example {
    width: 150px;
    height: 150px;
  }

  .comp-variation {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  .comp-variation-btn {
    width: 80px;
    font-size: 13px;
  }

  .comp-code {
    width: 100%;
  }
}
